<h2>Startsida</h2>

<section>
    <h3>Välkommen till webbplatsen</h3>
    <p>
        Denna webbplatsen består av tre sidor:
    </p>
    <ul>
        <li>Startsida(Denna sida)</li>
        <li>Konverterings sida, där man kan mata in värde såsom längd samt temperatur, och konvertera dem till meter/fot, celsius/fahrenheit samt vice versa</li>
        <li>Om uppgiften, som innehåller beskrvning av uppgiften, hur jag har löst den, samt vilka slutsatser har dragits av arbetet.</li>
    </ul>
</section>