<!-- Sidhuvud -->
<header>
    <h1><a href="/home">Moment 3</a></h1>

    <!-- Navigeringsmeny -->
     <!-- Öppna Knapp -->
     <button class="menu-btn open" id="open-btn" (click)="menuToggle()">
        <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </span>
        <span class="menu-text">Meny</span>
    </button>
    <div id="nav-menu" [style.display]="menuDisplay">
        <ul id="navlist">
            <!-- Stäng Knapp -->
            <button class="menu-btn close" id="close-btn" (click)="menuToggle()">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <li><a routerLink="/home" routerLinkActive="actual-side">Startsida</a></li>
            <li><a routerLink="/about" routerLinkActive="actual-side">Om uppgiften</a></li>
            <li><a routerLink="/convert" routerLinkActive="actual-side">Konvertering</a></li>
        </ul>
    </div>
</header>
